---
import type { ResumeItemData } from '../content/schemas';

type Props = Pick<ResumeItemData, 'title' | 'org' | 'dateRange' | 'description'>;
const { title, org, dateRange, description } = Astro.props;
---
<article class="resume-entry">
  <div class="resume-entry__heading">
    <div class="resume-entry__title">{title}{org && <span class="resume-entry__org"> &mdash; {org}</span>}</div>
    {dateRange && <div class="resume-entry__date">{dateRange}</div>}
  </div>
  <p>{description}</p>
</article>
